<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Paris Do</title>


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- custom bootstrap -->
		<link href="css/index.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">


<link href='https://fonts.googleapis.com/css?family=PT+Mono|Roboto:400,300' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/js/jquery.typer.js"></script>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header page-scroll navbar-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <!--  <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><b>A B O U T</b><span class="menuHighlight"></span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services"><b>P R O J E C T S</b><span class="menuHighlight"></span></a>
                    </li>
                    <li class="push-item">
                        <a class="page-scroll" href="#contact"><b>C O N T A C T</b><span class="menuHighlight"></span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container front-page">
            <div class="row">
                <div class="col-lg-12">
                    <font face="PT Mono">
                    <h1 align="left">Hi, my name is </h1>
                      <span class="example1">
                        <h1>Paris.</h1>
                      </span>
                      <br>
                      <div id="not-inline">
                      <h1 align="left"> I'm a computer science student at </h1>
                      <span class="example2">
                        <h1>UC San Diego.</h1>
                      </span>
                      </div>

								 <h1>I like </h1>
                <span class="example3">
                 <h1 data-typer-targets="making beautiful websites., making lists., going on adventures., challenging myself., learning new things.,
                 working with a team., traveling to new places"></h1>
               </span>
                      <script>
                        $(function () {
                          $('[data-typer-targets]').typer();
                        });
                      </script>
                    </font>

                </div>
            </div>
        </div>

    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" align="left">
                    <h2 id="vs"><b>A B O U T</b></h2>
                </div>

        <!--        <img data-src="1.jpg" src="images/parislogo.png" alt="Image Alt"> -->

                <div class="col-xs-6 col-sm-4">
                  <table border="4" style="width:100%" bordercolor="red">
                    <tr>
                      <td height="350" style="vertical-align:top">
                        <font face="PT Mono">
                        <h3><b>&nbspEducation&nbsp</b></h3></br>
                          <ul style="list-style-type:none" align="left">
                            <li>UC San Diego</li>
                            <li>Jacob's School of Engineering</li>
                            <li><span class="highlight">BS, Computer Science</span></li>
                            <li><span class="highlight">GPA: 3.5</span></li>
                            <li><font face="PT Mono">Provost's Honors</font></li>
                          </ul>
                        </font>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <table border="4" style="width:100%" bordercolor="#6bc8c6">
                    <tr>
                      <td height="350" style="vertical-align:top" >
                        <font face="PT Mono">
                        <h3><b>&nbspSkills&nbsp</b></h3></br>
                          <ul style="list-style-type:none" align="left">
                            <li><span class="highlight"><i>Development:</i></span></li>
                            <li>JavaScript, HTML5, CSS3, Java, C/C++, SQL, jQuery, Google Analytics, Prototyping, wireframing, Usability Evaluation, A/B Testing</li></br>
                            <li><span class="highlight"><i>Methodology:</i></span></li>
                            <li>Agile development, Scrum, TDD, GitHub Flow</li>
                          </ul>
                        </font>
                      </td>
                    </tr>
                  </table>

                  <button id="downloadresume" type="button">
                    <a href="/Resume.pdf" download="Paris' Resume" style="text-decoration: none">
                      <font face="PT Mono" style="color: black">
                        <h4>Download Resume</h4>
                      </font>
                    </a>
                  </button>

                </div>
                <div class="col-xs-6 col-sm-4">
                  <table border="4" style="width:100%" bordercolor="#ffcc00">
                    <tr>
                      <td height="350" style="vertical-align:top">
                        <font face="PT Mono">
                        <h3><b>&nbspRelevant Coursework&nbsp</b></h3></br>
                        <ul style="list-style-type:none" align="left">
                          <li>- <span class="highlight">Human Computer Interaction Design</span></li>
                          <li>- Principles of Operating Systems</li>
                          <li>- Database System Principles</li>
                          <li>- Advanced Data Structures</li>
                          <li>- Software Engineering</li>
                          <li>- Project Management/Leadership</li>
                        </ul>
                        </font>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container" align="left">
            <div class="row">
              <div class="col-xs-12" align="left">
                  <h2 id="vs"><b>P R O J E C T S</b></h2>
              </div>
              <div id="projects">
              <font face="PT Mono">
              <h2>frank.</h2>
              <p> UI/UX Designer, Continuous</p>
              <p> Mobile app where users can exchange fashion advice through an anonymous online forum. Designed and developed front-end.
                  Worked in a studio to discuss usability heuristics and introduce functionalities.</p></br>
              <h2>LUMA</h2>

              <p> Software Architect/UI/UX Designer, Spring 2015</p>
              <p> Web app that displays availability of computers in UCSD computer science building.
                  Handled high-level design decisions, identified technical solutions, created UML and sequence diagrams.
                  Provided leadership and implementation regarding UI design and usability</p></br>

              <h2>Network Planning</h2>

              <p>Winter 2015</p>
              <p> Solved real world network planning problems by mapping them to well-know graph algorithms and implementing data structures, such as union-find, heaps/priority queues (i.e. total transit time between computers, total cost of building the cheapest network).</br>
                  MST: Prim’s algorithm, Kruskal’s algorithm. </br>
                  Shortest Path Problem: Dijkstra’s algorithm.</p></br>
              <h2>File Compressor</h2>

              <p>Winter 2015</p>
              <p>Implemented the Huffman coding algorithm to compress and decompress a file.
                 Utilized efficient supporting data structures (binary tree), and also extended the basic I/O functionality of C++ to include bitwise operations</p></br>

            </font>
            </div>

            </div>
        </div>
    </section>



    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container" id="vertical-border">
            <div class="row">
              <div class="col-xs-12" align="left">
                  <h2 id="vs"><b>C O N T A C T (disabled)</b></h2>
                  <!-- DC Contact Form Start -->
                  <form name="htmlform" method="post" action="html_form_send.php">
                  <table width="450px">
                  </tr>
                  <tr>
                   <td valign="top">
                    <label for="first_name">Name *</label>
                   </td>
                   <td valign="top">
                    <input  type="text" name="first_name" maxlength="50" size="30">
                   </td>
                  </tr>
                  <tr>
                   <td valign="top">
                    <label for="email">Email Address *</label>
                   </td>
                   <td valign="top">
                    <input  type="text" name="email" maxlength="80" size="30">
                   </td>

                  </tr>
                  <tr>
                   <td valign="top">
                    <label for="comments">Comments *</label>
                   </td>
                   <td valign="top">
                    <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
                   </td>

                  </tr>
                  <tr>
                   <td colspan="2" style="text-align:center">
                    <!-- We are grateful to you for keeping this link in place. thank you. -->
                    <input type="submit" value="Submit">
                   </td>
                  </tr>
                  </table>
                  </form>
<!-- DC Contact Form End -->
              </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/jQuery.loadScroll.js"></script>
<script src="/js/jquery.typer.js"></script>



</html>
