/* change navbar color */
.navbar-default {
  background-color: #DDDDDD;
  border-bottom: none;
  margin-bottom: -10px;
}

/* space between navbar items*/
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/* background of intro page */
#intro {
  background-color: #DDDDDD;
}

/* color of title text */
.front-page {
  color: #333333;
}

/* push navbar items to left */
li.push-item {
  padding-right: 100px;
}

.col-lg-12 {
  padding-left: 8%;
  padding-right: 8%;
}

.intro-section {
  text-align: left !important;
  padding-top: 8% !important;

}
/* change size and left align title */
h1 {
  font-size: 410%;
  display: inline;
  line-height: 90px;
}

.container .front-page {
  text-align: left;
}

.example1 {
  padding-top: 100px;
  border-bottom: solid 5px;
  border-bottom-color: red;
}

.example2 {
  padding-top: 100px;
  border-bottom: solid 5px;
  border-bottom-color: #6bc8c6;
}

.example3 {
  padding-top: 100px;
  border-bottom: solid 5px;
  border-bottom-color: yellow;
}

/* color of navbar items */
.navbar-default .navbar-nav>li>a {
  color: #333333;
}

h2 {
  text-align: left;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/************ underline Navbar text animation *****************/

/* the span */
.menuHighlight {
    /* styling */
    background-color: #333333;
    width: 100%;
    display: block;
    height: 3px;

    /* scale to 0 width */
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    transform: scale(0, 1);

    /* add a transition animation */
    -moz-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

/* on hover scale the span to full width */
a:hover .menuHighlight {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}
