/* change navbar color */
.navbar-default {
  background-color: #DDDDDD;
  border-bottom: none;
  margin-bottom: -10px;
}

/* space between navbar items*/
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/* background of intro page */
#intro {
  background-color: #DDDDDD;
}

/* color of title text */
.front-page {
  color: black;
}

/* push navbar items to left */
li.push-item {
  padding-right: 100px;
}

.col-xs-12 {
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 5%;
}

.intro-section {
  text-align: left !important;
  padding-top: 8% !important;

}
/* change size and left align title */
h1 {
  font-size: 230%;
  display: inline;
  line-height: 50px;
}

.container .front-page {
  text-align: left;
}

.example1 {
  padding-top: 100px;
  border-bottom: solid 5px;
  border-bottom-color: red;
}

.example2 {
  padding-top: 100px;
  border-bottom: solid 5px;
  border-bottom-color: #6bc8c6;
}

.example3 {
  padding-top: 100px;
  border-bottom: solid 5px;
  border-bottom-color: #ffcc00;
}

/* color of navbar items */
.navbar-default .navbar-nav>li>a {
  color: #333333;
}

h2 {
  text-align: left;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}

/************ underline Navbar text animation *****************/

/* the span */
.menuHighlight {
    /* styling */
    background-color: #333333;
    width: 100%;
    display: block;
    height: 3px;

    /* scale to 0 width */
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    transform: scale(0, 1);

    /* add a transition animation */
    -moz-transition: all 0.12s ease-in-out;
    -webkit-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

/* on hover scale the span to full width */
a:hover .menuHighlight {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
}

li {
  font-size: 100%;
  font-weight: 100;
}

ul {
  padding-left:0;
}

.col-lg-12{
   padding-bottom: 100px;
}

#vs {
  border-left: 1px solid black;
  padding-left: 40px;
  align-items: left;
  margin-left: -10%;
}

td {
    padding: 20px;
    padding-top:30px;
}

#type-font {
  font-family: 'PT Mono', ;
}

h3 b{
  color: white;
  background-color: black;
}

/* highlight text */
span.highlight {
    background-color: yellow;
}

/* style for download resume button */
#downloadresume {
  margin-top: 60px;
  padding: 10px;
  border: 1px outset black;
background-color: white;
 -webkit-transition: background 1s;
}

#downloadresume:hover {
  background: black;
}

#downloadresume:hover h4{
  color: white;
}

#projects {
  padding-left: 5%;
  padding-right: 40%;
}

#contact {
  align-items: center;
}
