.module {
  padding: 0 10%;
}

.row {
  margin: 0;
}

.col-min-padding {
  padding: 3px;
}

.post-frame {
  padding-bottom: 6px;
}

.post-picture {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.title-description {
  padding: 3px;

  background-color: #dddddd;
}

.category {
  padding: 3px;

  border-top: 1px solid #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  background-color: #dddddd;
}

.img-thumbnail {
  border: 0 none;
  box-shadow: none;
}

.page-title h5 {
  padding-top: 5px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#heading h1, h2 { display: inline; }
